* {
    font-family: "JetBrainsMono NF";
    font-size: 12px;
    min-height: 0px;
}

.modules-left {
    margin: 1px 0px 1px 10px;
}

#window {
    margin-left: 10px;
}

window#waybar {
    background-color: rgba(50, 48, 47, 0);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #C5C8C6;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
}

/* CHANGED: Hyprland uses .active instead of .focused */
#workspaces button.active {
    background-color: #373B41;
    color: #7DAEA3;
    border-bottom: 3px solid #7DAEA3;
}

#workspaces button.urgent {
    background-color: #EA6962;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #C5C8C6;
}

#window {
    border-style: solid;
    border-width: 0;
    color: #C5C8C6;
}

/* CHANGED: Renamed from #sway-language to #language */
#language {
    color: #7DAEA3;
    padding: 0 5px;
}
